---
layout: navbar.liquid
---

{{content}}

{% for item in items %}
    {% capture oddOrEven -%} {% cycle 'odd', 'even' -%} {% endcapture -%} 
    <p> </p>
    {% if oddOrEven == 'odd' -%}
        <div class="w-screen mt-20" >
            <div class="text-start ml-16 w-1/2 float-left mt-16 inline-block">
                <p class="text-5xl poppins-regular -mb-5 leading-none">{{item.title}}</p>
                <p class="text-3xl poppins-lightitalic mt-2">{{item.title_mini}}</p>
                <p class="text-2xl text-gray-600 mt-16 poppins-regular">{{item.description}}</p>
                <button class="text-xl bg-gray-200 w-72 h-16 mt-10 float-end rounded-lg poppins-regular" onclick="window.location.href='{{item.url}}'">{{item.button}}</button>
            </div>
            <i class="bi {{item.icon}} text-gray-600 mt-16 ml-16" style=" font-size: 300px"></i>
        </div>
    {% else -%}
        <div class=" w-full float-right mr-16 mt-20">
            <div class="mt-16 text-end ml-16 w-1/2 float-right">
                <p class="text-5xl poppins-regular -mb-5">{{item.title}}</p>
                <p class="text-3xl poppins-lightitalic">{{item.title_mini}}</p>
                <p class="text-2xl text-gray-600 mt-16 poppins-regular">{{item.description}}</p>
                <button class="text-xl bg-gray-200 w-72 h-16 mt-10 float-start rounded-lg poppins-regular" onclick="window.location.href='{{item.url}}'">{{item.button}}</button>
            </div>
            <i class="bi {{item.icon}} text-gray-600 mt-16 ml-16" style=" font-size: 300px"></i>
        </div>
    {% endif -%}
{% endfor %}